.main-section {
    padding: 50px;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.text{
    margin-bottom: 20px;
    font-size: 1.2rem;
}

li{
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
}

.rule{
    padding: 5px;
}