.add-feature-form {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    background-color: #333;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    color: white;
}

.add-feature-form h2 {
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.error {
    color: red;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #888;
    border-radius: 5px;
    font-size: 0.9rem;
}

.form-group input:focus {
    border-color: #555;
    outline: none;
}

button {
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #888;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

@media screen and (max-width: 768px) {
    .add-feature-form {
      width: 95%;
    }
}